/* HEADER */

.header {
    height: 28px;
    width: 148px;
    margin: 80px auto 0;
}

/* PAGE */

body {
    background-color: #1C1C1C;
    font-family: Roboto;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.content {
    flex: 1;
}

/* FOOTER */

.footer {
    color: rgba(255, 255, 255, 0.4);
    font-family: Roboto;
    text-align: center;
    margin: 5px 0;
}


/* SEARCH FORM */


.form {
    display: grid;
    justify-content: center;
}


.form__search {
    height: 36px;
    width: 80vw;
    border: none;
    padding: 18px 60px;
    outline: none;
    border-bottom: 2px solid #FDCE25;
    color: #FFFFFF;
    background-color: #1C1C1C;
    font-size: 1.5rem;
    font-weight: 300;
}

.form__history {
    width: 100%;
    position: relative;
    height: 88px;
  }
  
  .form__history:before {
    position: absolute;
    content: url('../images/search.svg');
    visibility: visible;
    padding-left: 8px;
    top: -70px;
  }

/* SEARCH RESULT */

.form__history {
    margin-top: 15px;
    display: flex;
}

.search-history-element {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    max-height: 36px;
    display: inline;
    color: rgba(0, 0, 0, 0.8);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 6px 16px;
    margin: 8px 8px 0 0;
    cursor: pointer;
}

.search-history-element:hover{
    background: #FFFFFF;
}

.results {
    width: 88vw;
    margin: 0 auto;
}

.results__heading {
    margin-bottom: 20px;
}
.heading-text {
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}

.results__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 302px);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.movie {
    width: 302px;
    height: 454px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.24);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.movie-poster {
    width: 302px;
    height: 454px;
    border-radius: 12px;
}

.movie-title {
    margin: 0 0 10px;
    color: #ffffff;
}

.movie-genre, .movie-year {
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.4);
}

.movie-info {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 24px 16px 20px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26.43%, rgba(0, 0, 0, 0.8) 72.41%);
    border-radius: 12px;
    opacity: 0;
    transition: all .5s;
}

.movie:hover .movie-info {
    opacity: 1;
    top: 0%;
}


.movie-noposter {
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.24);
}

.movie-noposter-title {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.24);
}

.movie-info-noposter {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 24px 16px 20px;
    flex-wrap: wrap;
}

.more-movies {
    border-radius: 4px;
    border: none;
    background-color: #FDCE25;
    color: #FFFFFF;
    margin: 20px auto;
    padding: 10px 5px;
    text-align: center;
}